@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
*, *::before,*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* container */
.conteiner {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
}

/* start */
.start {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 100%;
    height: 100vh;

    background: url(../main/img.jpg) center no-repeat;
    background-size: cover;
}

.start_inner {
    width: 100%;
    max-width: 496px;
    text-align: center;
}

.big_title {
    font-family: 'Lexend';
    font-weight: 700;
    font-size: 36px;
    text-align: center;

    color: #D4E2DD;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.small_title {
    font-family: 'Lexend';
    font-weight: 900;
    font-size: 24px;
    text-align: center;

    color: #D4E2DD;

    opacity: 0.75;

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* header */
.header {
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-top: 20px;
    font-family: Lexend;
    font-size: 18px;
    font-weight: 700;
    color: #D4E2DD;
}

.logo_image {
    height: 18px;
    margin-left: 2px;
    vertical-align: middle;
    
}

/* nav */
.nav {
    padding-top: 20px;
    font-family: Lexend;
    font-size: 16px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 17px;
    color: #D4E2DD;
    text-decoration: none;
}
.log_in {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    color: #D4E2DD;
    text-decoration: none;
}